div.pokemon {
    margin: 0px;
    float: left;
    margin-bottom: 12px;
    margin-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
}

div.pokemon img {
    width: 100%;
    height: auto;
    background-color: rgb(119, 99, 97);
    border-radius: 10px;
}

span.numero {
    padding-top: 2px;
    padding-bottom: 4px;
    vertical-align: middle;
    padding-left: 6px;
    font-size: 12px;
    color: dimgray;
}

span.nombre {
    vertical-align: middle;
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

span.tipo {
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border-radius: 3px;
    margin-left: 4px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

span.bicho {
    background-color: #729f3f;
}

span.dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

span.electrico {
    background-color: #eed535;
    color: black;
}

span.hada {
    background-color: #fdb9e9;
    color: black;
}

span.lucha {
    background-color: #d56723;
}

span.fuego {
    background-color: #fd7d24;
}

span.volador {
    background: linear-gradient( 180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: black;
}

span.fantasma {
    background-color: #7b62a3;
}

span.planta {
    background-color: #9bcc50;
    color: black;
}

span.tierra {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: black;
}

span.hielo {
    background-color: #51c4e7;
}

span.normal {
    background-color: #a4acaf;
}

span.veneno {
    background-color: #b97fc9;
}

span.psiquico {
    background-color: #f366b9;
}

span.roca {
    background-color: #a38c21;
}

span.agua {
    background-color: #4592c4;
}

span.siniestro {
    background-color: #707070;
}

span.acero {
    background-color: #9eb7b8;
    color: #212121;
}